body {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-family: "inria-sans";
  overflow-x: hidden;
  overflow: hidden;
}


.idle__animation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #161616;
  overflow: hidden;
  flex-direction: row;
  z-index: 1;
}

#idle__video {
  display: flex;
  position: relative;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: auto;
  z-index: -1;
}

#start__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.background__animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#background__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}

.content {
  position: relative;
  z-index: 1;
}

.buttons__filler {
  display: flex;
  justify-content: center; /* Horizontally center the buttons */
}

#hytec__image {
  display: flex;
  height: 220px;
  width: 220px;
  margin-inline: auto;
}

#button__row {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 100vw;
  text-align: center;
}

#logo__position {
  display: flex;
  margin-inline: auto;
  width: 100vw;
}

button {
  display: flex;
  padding: 20px 40px;
  font-weight: 600;
  background-color: #a71641;
  color: #fff;
  border: none;
  border-radius: 20px;
  margin: 25px;
  font-size: 25px;
}

.down {
  position: absolute;
  margin-inline: auto;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  top: 68%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}


/*slider*/
.slider {
  width: 100%;
  padding-top: 10%;
  margin-top: 0%;
  margin-bottom: 4%;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 360px;
  perspective: 1000px;
  overflow: hidden;
}

.testimonials .item {
  width: 570px;
  height: 350px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8); /* Increased opacity for a whiter effect */
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%); /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.6); /* Slightly darker border for better visibility */
  position: absolute;
  top: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.4s, background 0.4s;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}




.testimonials .item video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  margin: 15px;
  transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(3);
  background-color: #a71641;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(1200px, 0, -360px) rotateY(-45deg);
}

#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(900px, 0, -270px) rotateY(-35deg);
  z-index: 1;
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(600px, 0, -180px) rotateY(-25deg);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(300px, 0, -90px) rotateY(-15deg);
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translate3d(-300px, 0, -90px) rotateY(15deg);
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-5:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(-900px, 0, -270px) rotateY(35deg);
}

#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(-1200px, 0, -360px) rotateY(45deg);
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup is displayed in front */
}

.popup.show {
  display: flex;
}

.popup-content {
  position: relative;
  width: 90%;
  max-width: 90vw;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(0); /* Initially scale down the popup */
  transition: transform 0.3s ease; /* Add transition effect */
}

.popup.show .popup-content {
  transform: scale(1); /* Scale up the popup when it appears */
}

.popup-video {
  width: 100%;
  height: 100%;
}

/* Overlay to dim the background */
#dim-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed for the dim effect */
  z-index: 1000; /* Ensure it's above other content */
  display: none; /* Initially hide it */
}

/* The prompt box styling */
.promptBox {
  width: 150px;
  transform: translate(-50%, -50%);
  position: fixed; /* Fixed positioning to center it over the whole screen */
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: 300ms;
  pointer-events: none;
  z-index: 1001; /* Ensure it's above the dim-overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.tapperoo {
  height: 48px;
  width: 50px;
  position: absolute;
  top: calc(50% - 100px); /* Adjusted to align with the hand */
  left: calc(50% + 0px); /* Adjusted to align with the hand */
  border-radius: 100px;
  background-color: #fff;
  z-index: -1; /* Ensure it's behind other content */
  animation: tapperoo 3s infinite;
}

@keyframes tapperoo {
  0% {
    height: 10%;
    width: 25%;
  }
  50% {
    height: 5%;
    width: 35%;
    opacity: 0;
    transform: translate(-250%);
  }
  100% {
    opacity: 0;
  }
}

#tap-gesture {
  position: absolute;
  transform: rotate(30deg);
  animation: handMove 3s infinite;
  z-index: 1; /* Ensure it's above tapperoo */
}

@keyframes handMove {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: translate(-60%, -10%) rotate(-30deg) scale(0.9);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* Style for the paragraph inside the prompt box */
.promptBox p {
  margin-top: 280px; /* Adjust to position the text below the hand */
  color: white;
  font-size: 35px;
  line-height: 1.5;
  white-space: nowrap; /* Ensure the text stays in a single line */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}
